- if @user.admin?
  #{ provide(:title, "Admin profile") }
- else
  #{ provide(:title, @user.firstname + " profile") }


%div{"ng-controller" => "UserProfileController"}

  .user-info
    %h1
      %small Name:
      =@user.firstname
      =@user.lastname

    %h2
      %small E-mail:
      =@user.email

    %h3
      %small Role:
      - if @user.admin?
        Admin
      - else
        Normal user

  - if current_user && current_user == @user
    .new-button
      =link_to edit_user_registration_path do
        %md-button.md-raised.md-primary.btn
          %strong Edit account

  .two-column-table
    .cell
      - if @user.reviews.count > 0
        %md-toolbar.md-theme-light
          %h1.md-toolbar-tools
            %span{"ng-hide"=>"showAllReviews"}
              - if @user.reviews.count > 5
                Last 5 reviews
              - else
                All reviews
            %span{"ng-show"=>"showAllReviews"} All reviews
        %md-content
          %md-list
            - @user.reviews.order('created_at DESC').each_with_index do |review, index| #.take(5)
              - if index < 5
                %md-item
                  //= render 'reviews/review_with_link'
                  = render partial: 'reviews/review_with_link', locals: {review: review}
              - else
                %md-item{"ng-show"=>"showAllReviews"}
                  = render partial: 'reviews/review_with_link', locals: {review: review}
        - if @user.reviews.count > 5
          %md-button.md-raised.md-primary.btn{"ng-click"=>"showAllReviews = !showAllReviews"}
            %strong{"ng-hide"=>"showAllReviews"} Show all reviews
            %strong{"ng-show"=>"showAllReviews"} Hide most of reviews

      - else
        %md-toolbar.md-theme-light
          %h1.md-toolbar-tools
            %span
              = @user.firstname
              didn't review any product.
    .cell
      - if @user.products.count > 0
        %md-toolbar.md-theme-light
          %h1.md-toolbar-tools
            %span{"ng-hide"=>"showAllProducts"}
              - if @user.products.count > 5
                Last 5 products
              - else
                All products
            %span{"ng-show"=>"showAllProducts"} All products
        %md-content
          %md-list
            - @user.products.order('created_at DESC').each_with_index do |product, index|
              - if index < 5
                %md-item
                  = render partial: 'products/product_with_link', locals: {product: product}
              - else
                %md-item{"ng-show"=>"showAllProducts"}
                  = render partial: 'products/product_with_link', locals: {product: product}

        - if @user.products.count > 5
          %md-button.md-raised.md-primary.btn{"ng-click"=>"showAllProducts = !showAllProducts"}
            %strong{"ng-hide"=>"showAllProducts"} Show all products
            %strong{"ng-show"=>"showAllProducts"} Hide most of products

      - else
        %md-toolbar.md-theme-light
          %h1.md-toolbar-tools
            %span
              = @user.firstname
              didn't add any product.


