#{ provide(:title, 'Categories') }

-#
  %h1 Listing categories

  %div{"ng-controller" => "CategoriesController"}

    %table.table
      %tr
        %th Name
        %th
        %th
        %th

      - categories.each do |category|
        %tr
          %td= category.name
          %td= link_to 'Show', category
          - if current_user && current_user.admin?
            %td= link_to 'Edit', edit_category_path(category)
            %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

    %md-content
      %md-list
        - categories.each do |category|
          %md-item
            %md-item-content
              .md-tile-content
                %h3= category.name
                %h4= link_to 'Show', category
                %p
                  - if current_user && current_user.admin?
                    %td= link_to 'Edit', edit_category_path(category)
                    %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

%div{"ng-controller" => "CategoriesController"}

  .category-table
    - categories.each do |category|
      .cell
        .image-cell
          =link_to category do
            %md-button.md-raised.category-image
              =image_tag("#{category.name}.jpg", class: "category_image")
              %h3= category.name
        - if current_user && current_user.admin?
          .admin
            %td= link_to 'Edit', edit_category_path(category)
            %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

  - if current_user && current_user.admin?
    .new-button
      =link_to new_category_path do
        %md-button.md-raised.md-primary.btn
          %strong New Category

