#{ provide(:title, 'Welcome') }

%div{"ng-controller" => "CategoryController"}

  %p#notice= notice
  %p#error= flash[:error]

  .main-table
    - categories.each do |category|
      .cell
        .image-cell
          =link_to category do
            %md-button.md-raised.category-image
              =image_tag("#{category.name}.jpg", class: "category_image")
              %h3= category.name
        - if current_user && current_user.admin?
          .admin
            %td= link_to 'Edit', edit_category_path(category)
            %td= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }

  - if current_user && current_user.admin?
    .new-button
      =link_to new_category_path do
        %md-button.md-raised.md-primary.btn
          %strong New Category

