#{ provide(:title, 'Categories') }

%h1 Listing categories

%div{"ng-controller" => "CategoriesController"}

  %table.table
    %tr
      %th Name
      %th
      %th
      %th

    - categories.each do |category|
      %tr
        %td= category.name
        %td= link_to 'Show', category
        - if current_user && current_user.admin?
          %td= link_to 'Edit', edit_category_path(category)
          %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

  %md-content
    %md-list
      - categories.each do |category|
        %md-item
          %md-item-content
            .md-tile-content
              %h3= category.name
              %h4= link_to 'Show', category
              %p
                - if current_user && current_user.admin?
                  %td= link_to 'Edit', edit_category_path(category)
                  %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }


  %br
  - if current_user && current_user.admin?
    = link_to 'New Category', new_category_path

  %md-button.md-raised {{title1}}

  %md-checkbox{"md-no-ink"=>true, "aria-label"=>"Checkbox No Ink"}
    Checkbox (No Ink)
