#{ provide(:title, product.title) }

%div{"ng-controller" => "ProductsController"}

  %p#notice= notice
  %p#error= flash[:error]

  %p
    %b Title:
    = product.title
  %p
    %b Description:
    = product.description
  %p
    %b Price:
    = product.price

  %p
    %b Category
    = product.category.name

  - if current_user
    .new-button
      %md-button.md-raised.md-primary.btn{"aria-controls" => "new-product", "aria-expanded" => "true",
                                                       "data-target" => "#new-product", "data-toggle" => "collapse",
                                                       :type => "button", "ng-click"=>"newReviewButton = !newReviewButton"}
        %strong{"ng-show"=>"newReviewButton"} Add new review
        %strong{"ng-hide"=>"newReviewButton"} Hide form
      #new-product.collapse
        = render 'reviews/form'


  %h3 Reviews
  //= render 'reviews/form'

  = render reviews

  //= link_to 'Edit', edit_category_product_path(category.id, product.id)
  //\|
  //= link_to 'Back', category_products_path, class: 'btn btn-primary'

  .new-button
    - if current_user && current_user == product.user
      = link_to edit_category_product_path(category.id, product.id) do
        %md-button.md-raised.md-primary.btn
          %strong Edit Product

  .back-button
    = link_to category_products_path do
      %md-button.md-raised.md-primary.btn
        %strong Back
