#{ provide(:title, product.title) }

%div{"ng-controller" => "ProductController"}

  //%p#notice= notice
  //%p#error= flash[:error]

  .two-column-table
    .cell

      %h1
        %small Title:
        = product.title
      %h2
        %small Description:
        = product.description
      %h2
        %small Price:
        = number_to_currency product.price, unit: "PLN", separator: ",", delimiter: " ", format: "%n %u"

      %h2
        %small Average rating:
        -if product.reviews.count == 0
          = product.average_rating
        - else
          = product.average_rating.round(2)

      %h3
        %small Category:
        = product.category.name



      .new-button
        - if current_user && current_user == product.user
          = link_to edit_category_product_path(category.id, product.id) do
            %md-button.md-raised.md-primary.btn
              %strong Edit Product

    .cell



      %md-toolbar.md-theme-light
        %h1.md-toolbar-tools
          %span
            Reviews
      //= render 'reviews/form'

      = render reviews

      - if current_user
        .new-button
          .margin-bottom
            %md-button.md-raised.md-primary.btn{"aria-controls" => "new-product", "aria-expanded" => "true",
                                                             "data-target" => "#new-product", "data-toggle" => "collapse",
                                                             :type => "button", "ng-click"=>"newReviewButton = !newReviewButton"}
              %strong{"ng-show"=>"newReviewButton"} Add new review
              %strong{"ng-hide"=>"newReviewButton"} Hide form
            #new-product.collapse
              = render 'reviews/form'

  //= link_to 'Edit', edit_category_product_path(category.id, product.id)
  //\|
  //= link_to 'Back', category_products_path, class: 'btn btn-primary'


  .back-button
    = link_to category_products_path do
      %md-button.md-raised.md-primary.btn
        %strong
          Back to
          = product.category.name
